desktopClient/src/assets/movies.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://tepitoflix.com/desktop_client/gen" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://tepitoflix.com/desktop_client/gen" targetNamespace="http://tepitoflix.com/desktop_client/gen">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://tepitoflix.com/desktop_client/gen">
    <!-- <javaType xmlType="integer" name="java.lang.Integer"/>  -->
    
    <xs:element name="getMovieRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:integer"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
     
    <xs:element name="getMovieResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="movie" type="tns:movie"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:complexType name="movie">
        <xs:sequence>
          <xs:element name="title" type="xs:string"/>
          <xs:element name="director" type="xs:string"/>
          <xs:element name="genre" type="xs:string"/>
          <xs:element name="release" type="xs:integer"/>
          <xs:element name="runtime" type="xs:integer"/>
          <xs:element name="price" type="xs:decimal"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:integer"/>
    </xs:complexType>
    
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getMovieRequest">
    <wsdl:part element="tns:getMovieRequest" name="getMovieRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMovieResponse">
    <wsdl:part element="tns:getMovieResponse" name="getMovieResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="MoviesPort">
    <wsdl:operation name="getMovie">
      <wsdl:input message="tns:getMovieRequest" name="getMovieRequest">
    </wsdl:input>
      <wsdl:output message="tns:getMovieResponse" name="getMovieResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MoviesPortSoap11" type="tns:MoviesPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getMovie">
      <soap:operation soapAction=""/>
      <wsdl:input name="getMovieRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getMovieResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MoviesPortService">
    <wsdl:port binding="tns:MoviesPortSoap11" name="MoviesPortSoap11">
      <soap:address location="http://localhost:8080/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>